@{
    ViewData["Title"] = "Home Page";
}
<environment>
    <link href="~/css/homeindex.css" rel="stylesheet" />
</environment>

<body>
    <main>
        <section class="banner-cover text-center">
            <div class="container-fluid p-0">
                <div class="col-12 col-lg-12 col-md-12 p-0">
                    <div class="banner-slide-show">
                        <div class="banner-content">
                            <h2>The Barber Shop</h2>
                            <h3>In New York</h3>
                            <p class="py-3">With SMBarber responsive landing page template, you can showcase your next barber shop websites!</p>
                            <button class="btn btn-dark text-white text-uppercase px-5 py-3 my-4">appointment now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid p-0">
                <div class="col-12 col-lg-12 col-md-12 interesting-service py-5 bg-dark">
                    <a href="#" class="text-white">Interesting our awesome barber services? Just drop an appointment form below!</a>
                </div>
            </div>
        </section>
        <section class="about ">
            <div class="container p-0 text-center ">
                <div class="row about-content">
                    <div class="col-12 col-lg-12 col-md-12 text-center  py-5">
                        <span class="text-uppercase">about</span>
                        <h2 class="p-2">Welcome to SMBarber</h2>
                        <blockquote class="w-75 p-3">
                            Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus. Sed a tellus quis mi rhoncus dignissim.
                        </blockquote>
                        <p class="w-75">
                            Integer rutrum ligula eu dignissim laoreet. Pellentesque venenatis nibh sed tellus faucibus bibendum. Sed fermentum est vitae rhoncus molestie. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed vitae rutrum neque. Ut id erat sit amet libero bibendum aliquam. Donec ac egestas libero, eu bibendum risus. Phasellus et congue justo.
                        </p>
                        <button class="btn btn-dark my-5 py-2 px-5">Learn More</button>
                    </div>
                </div>
            </div>
        </section>
        <section class=" text-center ">
            <div class="container ">
                <div class="row our-mission">
                    <div class="col-12 col-lg-12 ">
                        <div class="nav-menu  py-4 mt-5 mb-2">
                            <ul class="nav nav-pills  ">
                                <li class="nav-item">
                                    <a href="#" class="nav-link active">Our Mission</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Why Us?</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">About Us</a>
                                </li>
                            </ul>
                        </div>
                        <p class="text-center ">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi scelerisque tortor mi, eget mattis velit sagittis id. Duis ornare mauris eu eros interdum, vitae finibus arcu ultricies. Donec vitae felis eleifend, dignissim erat a, pretium diam. Donec eu massa odio. Suspendisse et ornare lacus, pharetra imperdiet ligula.

                            Vestibulum ac quam id lorem semper condimentum. Nulla vel ligula turpis. Nullam luctus, mi nec rhoncus gravida, tortor est semper purus, a feugiat sapien odio non urna. Fusce pellentesque neque ut nisi rhoncus imperdiet. Sed eu purus vel turpis consectetur convallis. Donec a dolor tellus. Phasellus dignissim erat nec ipsum condimentum sollicitudin.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="py-5 my-5">
            <div class="container">
                <div class="row our-division text-center">
                    <div class="col-lg-4 col-md-12">
                        <img src="~/imgs//barber_01.jpg" alt="Alternate Text" />
                        <h3 class="my-3">Show us Your Graft Style</h3>
                        <p>
                            Aliquam sagittis ligula et sem lacinia, ut facilisis enim sollicitudin. Proin nisi est, convallis nec purus vitae, iaculis posuere sapien. Cum sociis natoque.
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <img src="~/imgs//barber_02.jpg" alt="Alternate Text" />
                        <h3 class="my-3">Outstanding Barber Shop</h3>
                        <p>
                            Duis at tellus at dui tincidunt scelerisque nec sed felis. Suspendisse id dolor sed leo rutrum euismod. Nullam vestibulum fermentum erat. It nam auctor.
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <img src="~/imgs//barber_03.jpg" alt="Alternate Text" />
                        <h3 class="my-3">The Barber Materials</h3>
                        <p>
                            Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet lacus vitae massa sodales aliquam at eget quam. Integer ultricies et magna quis posuere.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="our-barbers">
            <div class="container our-barbers-content">
                <div class="row">
                    <div class="col-12 col-lg-12 title text-center">
                        <span class="p-1">MEET OUR BABRER TEAM</span>
                        <h3>OUR BARBERS</h3>
                        <hr class="grd1 w-25" />
                        <p class="p-3 w-50">
                            Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus. Sed a tellus quis mi rhoncus dignissim.
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-12 text-center">
                        <div class="card ">
                            <img src="~/imgs/barber_team_01.jpg" alt="Alternate Text" />
                            <h3>Soren Bo Bostian</h3>
                            <span>The Founder</span>
                            <p>Hello guys, I am Soren from Sirbistana. I am senior art director and founder of The Barber Shop Company.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 text-center">
                        <div class="card">
                            <img src="~/imgs/barber_team_02.jpg" alt="Alternate Text" />
                            <h3>Bryan Saftler</h3>
                            <span>The Barber</span>
                            <p>Hello guys, I am Soren from Sirbistana. I am senior art director and founder of The Barber Shop Company.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 text-center">
                        <div class="card">
                            <img src="~/imgs/barber_team_03.jpg" alt="Alternate Text" />
                            <h3>Matthew Bayliss</h3>
                            <span>The Barber</span>
                            <p>Hello guys, I am Soren from Sirbistana. I am senior art director and founder of The Barber Shop Company.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="happy-testimonials">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-12 py-5 title text-center">
                        <span class="p-1 text-white">MEET OUR BABRER TEAM</span>
                        <h3 class="text-white">HAPPY TESTIMONIALS</h3>
                        <hr class="grd1 w-25 text-white" />
                        <p class="text-white">
                            Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus. Sed a tellus quis mi rhoncus dignissim.
                        </p>
                    </div>
                    <div class="col-12 col-lg-12 py-5 text-center">
                        <div class="slide-show">
                            <div class="slide-item1">
                                <div class="desc p-4">
                                    <h3 class="text-white"> <i class="fa fa-quote-left text-dark"> </i> Wonderful Support!</h3>
                                    <p class="text-white">They have got my project on time with the competition with a sed highly skilled, and experienced & professional team.</p>
                                </div>
                                <div class="testi-meta text-white d-flex  flex-row-reverse ml-0 py-4">
                                    <img src="~/imgs/testi_02.png" alt="Alternate Text"class="px-4"/>
                                    <div class="text-right">
                                        <h4>Jacques Philips</h4>
                                        <p>- Designer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>